.MacSection-content{
    display: block;
}

.unit-image-macbook-air-hero-macbook-air-announce{
    position: relative;
    display: inline-block;
    background: url(background_img_folder/hero_macbook_air_announce__dqw53b1i7j6u_largetall.jpg) center center;
}

.unit-image-macbook-air-hero-macbook-air-announce figcaption{
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(40%);
    text-align: center;
}

.unit-image-macbook-air-hero-macbook-air-announce h2{
    font-size: 56px;
}

.unit-image-macbook-air-hero-macbook-air-announce p{
    font-size: 28px;
}
